<p id="notice"><%= notice %></p>

<h1 class="ui centered header">Trips</h1>
<hr>
<div class="ui grid">
<% @trips.each do |trip|%>
  <div class="four wide column">
    <div class= "ui raised card">
    <div class="content">
      <div class="ui centered header"><%= trip.name %></div>
      <div class="description">
      <%= trip.description %>
      <br>
      <div class= "ui three tiny buttons">
        <%= link_to 'Show', trip_path(trip), class:"ui button" %> |
        <%= link_to 'Edit', edit_trip_path(trip), class: "ui button" %>|
       <%= link_to 'Delete', @trip, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui button"%> 
      </div>
      </div>
    </div>
    </div>
  </div>
 <%end%>
</div>


