<%= form_with(model: location, local: true) do |form| %>

  <div class="field">
    <%= form.label :location_name %>
    <%= form.text_field :location_name %>
  </div>

  <div class="field">
    <%= form.label :days %>
    <%= form.number_field :days %>
  </div>

  <div class="field">
    <%= form.label :activity %>
    <%= form.text_area :activity %>
  </div>
  <%= form.hidden_field :trip_id, value: params[:trip_id]%>
  <!-- <div class="field">
    <%= form.label :trip_id %>
    <%= form.text_field :trip_id %>
  </div> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
