<p id="notice"><%= notice %></p>

<p>
  <strong>Location name:</strong>
  <%= @location.location_name %>
</p>

<p>
  <strong>Days:</strong>
  <%= @location.days %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @location.activity %>
</p>

<p>
  <strong>Trip:</strong>
  <%= @location.trip.id %>
</p>


<%= link_to  "New Address", new_location_address_path(params[:id]) %>|

<%= link_to  "Address", location_addresses_path(@location) %>|
<%= link_to 'Edit', edit_trip_location_path(@location.trip.id, @location.id) %> |
<%= link_to 'Back', trip_locations_path(@trip) %>

